<div class="home-container">
    <div class="home-section">
        <div class="home-text">
        <h1 class='col-12'>BudgetTracker</h1>
        </div>
        <div class="button-container">
        <%= link_to "Log In", new_user_session_path, class: "home-button", method: :get%>
        <%= link_to "Sign Up", new_user_registration_path, class: "home-button", method: :get%>
        </div>
    </div>
</div>