<p style="color: green"><%= notice %></p>

<h1>Category expenditures</h1>

<div id="category_expenditures">
  <% @category_expenditures.each do |category_expenditure| %>
    <%= render category_expenditure %>
    <p>
      <%= link_to "Show this category expenditure", category_expenditure %>
    </p>
  <% end %>
</div>

<%= link_to "New category expenditure", new_category_expenditure_path %>
